PRODUCT_NAME = HuxerUI Examples
PRODUCT_BUNDLE_IDENTIFIER = com.huxerui.examples
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
IPHONEOS_DEPLOYMENT_TARGET = 13.0
TARGETED_DEVICE_FAMILY = 1,2
CODE_SIGN_STYLE = Automatic
CLANG_CXX_LANGUAGE_STANDARD = c++20
ENABLE_BITCODE = NO
ENABLE_USER_SCRIPT_SANDBOXING = NO

HUXERUI_PROJECT_ROOT = $(PROJECT_DIR)/../../..
HUXERUI_CORE_BUILD_DIR = $(DERIVED_FILE_DIR)/huxerui-core
HUXERUI_APP_TARGET = example_ui_gallery
HUXERUI_LINK_OPTIONS_FILE = $(HUXERUI_CORE_BUILD_DIR)/huxerui-ios/$(HUXERUI_APP_TARGET)/link.rsp
OTHER_LDFLAGS = $(inherited) @"$(HUXERUI_LINK_OPTIONS_FILE)"

#include? "Local.xcconfig"
